@model BaseViewModel
@{
    Model.PageTitle = "Start";
}

<div class="text-center">
    <h1 class="display-4">Integracja z Camunda Engine</h1>
    <img src="img/logo.png" alt="" class="logo"/>
</div>
